 .u-section-1 {
  background-image: url("../images/.png");
  background-position: 50% 43.03%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1150px;
}

.u-section-1 .u-image-1 {
  height: 846px;
  width: 846px;
  margin: 304px -235px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 108px;
  height: 98px;
  margin: -989px auto 0 451px;
}

.u-section-1 .u-image-3 {
  width: 445px;
  height: 445px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation-timing-function: ease;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -127px auto 0 42px;
}

.u-section-1 .u-image-4 {
  width: 139px;
  height: 126px;
  margin: -479px 34px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 28px 49px 0 521px;
}

.u-section-1 .u-image-5 {
  width: 113px;
  height: 102px;
  margin: -62px auto 0 408px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 51px;
  height: auto;
  background-image: linear-gradient(#489035, #f1c50e);
  margin: 0 117px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 2px auto 0;
}

.u-section-1 .u-image-6 {
  width: 111px;
  height: 100px;
  margin: 126px auto 0 49px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: -184px 195px 0 auto;
  padding: 15px 54px 16px 53px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 69px 200px 0 auto;
  padding: 15px 54px 16px 53px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 113px auto 0 -71px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -175px;
    margin-right: -222px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -37px;
    margin-left: 57px;
  }

  .u-section-1 .u-image-3 {
    width: 358px;
    height: 398px;
    margin-top: -581px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 166px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -673px;
    margin-right: 36px;
    margin-left: 402px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -453px;
    margin-left: 268px;
  }

  .u-section-1 .u-group-1 {
    min-height: 55px;
    margin-top: 364px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .u-section-1 .u-image-6 {
    width: 83px;
    height: 74px;
    margin-top: -541px;
    margin-right: 44px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 480px;
    margin-right: 91px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 44px;
    margin-right: 96px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 4px;
    margin-bottom: 35px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -52px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 104px;
    margin-left: 252px;
  }

  .u-section-1 .u-image-3 {
    width: 398px;
    height: 342px;
    margin-top: -49px;
    margin-left: -13px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -20px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -497px;
    margin-right: 0;
    margin-left: 321px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -114px;
    margin-left: 247px;
  }

  .u-section-1 .u-group-1 {
    min-height: 61px;
    width: 770px;
    margin-top: 14px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 43px;
    height: 39px;
    margin-top: -542px;
    margin-right: 146px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 517px;
    margin-right: 70px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 31px;
    margin-right: 75px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-right: 715px;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 343px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 38px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 535px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 86px;
    height: 78px;
    margin-top: 199px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    height: 179px;
    width: 207px;
    margin-top: -143px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1179px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1207px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -553px;
    margin-left: 142px;
  }

  .u-section-1 .u-group-1 {
    min-height: 148px;
    margin-top: 482px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    width: 70px;
    height: 63px;
    margin-top: -1114px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1083px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -461px;
    margin-right: 335px;
    margin-bottom: 60px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("../images/9E1GxeuZUKb9.png");
  background-position: 50% 0%;
  min-height: 1190px;
}

.u-section-2 .u-group-1 {
  width: 747px;
  min-height: 800px;
  height: auto;
  background-image: none;
  border-style: double;
  margin: 161px auto 0 calc(((100% - 1140px) / 2) + 197px);
}

.u-section-2 .u-container-layout-1 {
  padding: 0 44px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 110px 48px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 29px 151px 0 auto;
  padding: 15px 54px 16px 53px;
}

.u-section-2 .u-image-1 {
  width: 200px;
  height: 171px;
  margin: -135px auto 0 38px;
}

.u-section-2 .u-image-2 {
  width: 192px;
  height: 192px;
  border-style: solid;
  background-image: url("../images/KhZjeNT78L8Z.gif");
  background-position: 50% 50%;
  filter: brightness(0.75);
  margin: -917px auto 0 calc(((100% - 1140px) / 2) + 347px);
}

.u-section-2 .u-image-3 {
  width: 498px;
  height: 414px;
  margin: -414px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -8px;
  line-height: 1.13;
  text-shadow: 0px 0px 8px rgba(255,255,255,1);
  text-decoration: underline !important;
  margin: -163px calc(((100% - 1140px) / 2) + 351px) 60px calc(((100% - 1140px) / 2) + 604px);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1394px;
  }

  .u-section-2 .u-group-1 {
    min-height: 1073px;
    margin-top: 245px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -115px;
    margin-left: 40px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1177px;
    margin-left: calc(((100% - 940px) / 2) + 246px);
  }

  .u-section-2 .u-image-3 {
    margin-top: -501px;
    margin-left: calc(((100% - 940px) / 2) + -102px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -67px;
    margin-right: calc(((100% - 940px) / 2) + 249px);
    margin-left: calc(((100% - 940px) / 2) + 506px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1669px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-top: 190px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 159px;
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -175px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1178px;
    margin-left: calc(((100% - 720px) / 2) + 168px);
  }

  .u-section-2 .u-image-3 {
    width: 341px;
    height: 283px;
    margin-top: -430px;
    margin-left: calc(((100% - 720px) / 2) + -51px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -26px;
    margin-right: calc(((100% - 720px) / 2) + 116px);
    margin-left: calc(((100% - 720px) / 2) + 420px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1252px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 1110px);
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    transform-origin: center center 0px;
    transform: scaleX(-1);
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 49.59% 21.57%;
    min-height: 2082px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 1700px;
    margin-top: 119px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 93px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -54px;
    margin-left: 43px;
  }

  .u-section-2 .u-image-2 {
    width: 144px;
    height: 144px;
    margin-top: -1787px;
    margin-right: calc(((100% - 340px) / 2) + 26px);
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 177px;
    height: 147px;
    margin-top: -255px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 340px) / 2) + 155px);
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: url("../images/9E1GxeuZUKb9.png");
  background-position: 50% 80.47%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -8px;
  line-height: 1.13;
  text-shadow: 2px -2px 8px rgba(255,255,255,1);
  text-decoration: underline !important;
  margin: 60px 546px 0 314px;
}

.u-section-3 .u-group-1 {
  width: 747px;
  min-height: 918px;
  height: auto;
  background-image: none;
  border-style: double;
  margin: 7px 157px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 27px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 67px 354px 0 75px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin: 23px 354px 0 75px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 22px 49px 0 379px;
}

.u-section-3 .u-image-1 {
  width: 299px;
  height: 200px;
  margin: -39px auto 0 13px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin: -138px 49px 0 347px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  margin: 19px 354px 0 75px;
}

.u-section-3 .u-image-2 {
  width: 200px;
  height: 189px;
  margin: -22px 67px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  margin: -142px 289px 0 38px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 100px auto 0;
  padding: 15px 54px 16px 53px;
}

.u-section-3 .u-image-3 {
  width: 181px;
  height: 146px;
  margin: -817px 277px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 192px;
  height: 192px;
  border-style: solid;
  background-image: url("../images/KhZjeNT78L8Z.gif");
  background-position: 50% 50%;
  filter: brightness(0.75);
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: -347px 277px 860px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 162px;
    margin-right: 491px;
    margin-left: 169px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 10px;
    margin-right: auto;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 65px;
    margin-left: 363px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -53px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -128px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 1px;
    margin-right: 57px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -165px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 234px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -363px;
    margin-right: 213px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 360px;
    margin-left: 80px;
  }

  .u-section-3 .u-group-1 {
    min-height: 886px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 341px;
    margin-left: 62px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 340px;
    margin-left: 62px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 52px;
    margin-left: 350px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 21px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 35px;
    margin-left: 334px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 341px;
    margin-left: 62px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -15px;
    margin-right: 64px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -148px;
    margin-right: 290px;
    margin-left: 12px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 72px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 128px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 246px;
    margin-left: 14px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -14px;
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 255px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 223px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 154px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 93px;
    margin-right: 126px;
    margin-left: -16px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1315px;
    margin-top: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 1px 0 16px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 76px;
    margin-right: 33px;
    margin-left: 43px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 191px;
    margin-right: 26px;
    margin-left: 49px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 135px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -315px;
    margin-right: 11px;
    margin-left: 32px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 235px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 149px;
    margin-right: 45px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -307px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 230px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -1083px;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    width: 134px;
    height: 134px;
    margin-top: -444px;
    margin-right: 18px;
  }
} .u-section-4 {
  background-image: url("../images/9E1GxeuZUKb9.png");
  background-position: 50% 75.3%;
}

.u-section-4 .u-sheet-1 {
  min-height: 537px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -8px;
  line-height: 1.13;
  text-shadow: 0px -2px 8px rgba(255,255,255,1);
  text-decoration: underline !important;
  margin: 116px -124px 0 -54px;
}

.u-section-4 .u-group-1 {
  height: auto;
  background-image: none;
  border-style: double;
  min-height: 266px;
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 7px 20px;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 1.13;
  margin: 16px 352px 0 420px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 1.13;
  margin: -67px 81px 0 844px;
}

.u-section-4 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 1.13;
  margin: -57px 752px 0 34px;
}

.u-section-4 .u-group-2 {
  width: 309px;
  height: auto;
  border-style: dashed;
  margin: -1px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.13;
  margin: 0;
}

.u-section-4 .u-group-3 {
  width: 318px;
  height: auto;
  border-style: dashed;
  margin: -54px 358px 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-6 {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.13;
  margin: 0;
}

.u-section-4 .u-group-4 {
  width: 374px;
  height: auto;
  border-style: dashed;
  margin: -54px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  line-height: 1.13;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 84px;
    margin-right: 70px;
    margin-left: 30px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 53px;
    margin-bottom: 0;
    min-height: 282px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: 275px;
    margin-left: 396px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 83px;
    margin-left: 703px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -67px;
    margin-right: 595px;
    margin-left: 97px;
  }

  .u-section-4 .u-group-2 {
    width: 229px;
    margin-top: 15px;
    margin-right: 39px;
    height: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-group-3 {
    width: 251px;
    min-height: 69px;
    margin-top: -64px;
    margin-right: 270px;
    height: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-4 .u-group-4 {
    width: 358px;
    margin-top: -69px;
    margin-left: 28px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 49px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 14px;
    margin-bottom: 49px;
    min-height: 604px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-text-2 {
    width: 309px;
    margin-top: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 309px;
    margin-top: 129px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 309px;
    margin-top: -448px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-2 {
    width: 135px;
    margin-top: 377px;
    margin-right: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: -260px;
    margin-right: auto;
  }

  .u-section-4 .u-group-4 {
    margin-top: -250px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-top: -32px;
  }

  .u-section-4 .u-text-3 {
    font-size: 3rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 3rem;
    margin-top: 0;
  }

  .u-section-4 .u-group-2 {
    margin-top: 0;
  }

  .u-section-4 .u-group-3 {
    margin-top: 0;
  }

  .u-section-4 .u-group-4 {
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 51.03% 33.33%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 14px;
    margin-bottom: 49px;
    min-height: 714px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 312px;
    margin-right: -7px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 139px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -470px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-4 .u-group-2 {
    min-height: 69px;
    margin-top: 461px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -252px;
    margin-right: 22px;
  }

  .u-section-4 .u-group-4 {
    width: 297px;
    min-height: 73px;
    margin-top: -286px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 9px;
  }
} .u-section-5 {
  background-image: url("../images/9E1GxeuZUKb9.png");
  background-position: 50% 39.3%;
}

.u-section-5 .u-sheet-1 {
  min-height: 244px;
}

.u-section-5 .u-image-1 {
  transform-origin: center center 0px;
  height: 416px;
  width: 416px;
  transform: scaleX(-1);
  margin: -682px auto 0 -55px;
}

.u-section-5 .u-btn-1 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 289px auto 0 0;
  padding: 15px 54px 16px 53px;
}

.u-section-5 .u-btn-2 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: -99px 40px 0 auto;
  padding: 15px 54px 16px 53px;
}

.u-section-5 .u-btn-3 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: -99px auto 0;
  padding: 15px 54px 16px 53px;
}

.u-section-5 .u-image-2 {
  width: 42px;
  height: 42px;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation-timing-function: ease;
  margin: 63px auto 0 352px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  text-decoration: underline !important;
  margin: -32px 381px 27px 394px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-5 .u-image-1 {
    height: 404px;
    width: 404px;
    margin-top: -720px;
    margin-left: -120px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 339px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 71px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 370px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 9px;
    margin-left: 297px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 241px;
    margin-left: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-5 .u-image-1 {
    height: 304px;
    width: 304px;
    margin-top: -58px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -105px;
    padding-right: 18px;
    padding-left: 16px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
    padding-right: 36px;
    padding-left: 35px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 14px;
    margin-left: 127px;
  }

  .u-section-5 .u-text-1 {
    width: 352px;
    margin-left: 184px;
    margin-right: 171px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -213px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 122px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 52px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 94px;
    margin-right: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-5 .u-image-1 {
    height: 440px;
    width: 440px;
    margin-top: 0;
    margin-left: -78px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -392px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 23px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 22px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 72px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin: -71px -25px 52px;
  }
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.div.data-w-id11b6d2ce-8758-4c45-3d1b-3c41ed429c64.classheader-image-containerdiv.classhighlight-hero-imagedivimg.srcimages64ee566abca43a91f2d65de2_Untitled20design20-202023-08-29T233439329png.loadinglazy.srcsetimages64ee566abca43a91f2d65de2_Untitled20design20-202023-08-29T233439329-p-500png.w.images64ee566abca43a91f2d65de2_Untitled20design20-202023-08-29T233439329-p-800png.w.images64ee566abca43a91f2d65de2_Untitled20design20-202023-08-29T233439329-p-1080png.w.images64ee566abca43a91f2d65de2_Untitled20design20-202023-08-29T233439329png.w.sizesmax-width.px.vw.max-width.px.vw.max-width.px.vw.max-width.px.vw.px.altNFT.Collection.classheader-image-2div {
}